# Backend
PORT=3000
HOST=0.0.0.0
MONGO_URI=mongodb://localhost:27017

MONGO_DB=app_notas
JWT_SECRET=replace_with_a_long_random_secret

# Lista de origenes permitidos, separados por coma.
# Para pruebas en red local, deja * o una lista con tus IPs/dominios.
# Ejemplo:
# CORS_ORIGINS=*
# CORS_ORIGINS=https://sendiasporaa.com,https://www.sendiasporaa.com
CORS_ORIGINS=http://localhost:5174,http://127.0.0.1:5174
