# Backend
PORT=3000
HOST=0.0.0.0
MONGO_URI=mongodb+srv://bahbakar872018_db_user:329Vmg3pirJbOkUT@babs-babs07.ozce5li.mongodb.net/app_notas

MONGO_DB=app_notas
JWT_SECRET=Mouhamed_RassoulBA

# Lista de origenes permitidos, separados por coma.
# Para pruebas en red local, deja * o una lista con tus IPs/dominios.
# Ejemplo:
# CORS_ORIGINS=*
# CORS_ORIGINS=https://sendiasporaa.com,https://www.sendiasporaa.com
CORS_ORIGINS=*
