# Backend
PORT=3000
MONGO_URI=mongodb://localhost:27017
MONGO_DB=app_notas
JWT_SECRET=change_this_secret

# Lista de origenes permitidos, separados por coma
# Ejemplo:
# CORS_ORIGINS=https://sendiasporaa.com,https://www.sendiasporaa.com
CORS_ORIGINS=http://localhost:5173,http://localhost:5174
